/* Image Fade */
.image-fade {
    opacity: 0;
    animation-delay: 0.5s;
    animation: image-fade ease-in-out forwards;
}

@keyframes image-fade {
    0% {
        opacity: 0;
    }

    5% {
        opacity: 1;
    }

    95% {
        opacity: 1;
    }

    100% {
        opacity: 0;
    }
}

/* Image Slide */
.image-slide {
    animation-delay: 0.5s;
    animation: image-slide ease-in-out forwards;
}

.top>#carousel-container>.image-slide {
    transform: translate(0%, -150%);
}

.center>#carousel-container>.image-slide {
    transform: translate(0%, 250%);
}

.bottom>#carousel-container>.image-slide {
    transform: translate(0%, 150%);
}

.left>#carousel-container>.image-slide,
.top-left>#carousel-container>.image-slide,
.bottom-left>#carousel-container>.image-slide {
    transform: translate(-150%, 0%);
}

.right>#carousel-container>.image-slide,
.bottom-right>#carousel-container>.image-slide,
.top-right>#carousel-container>.image-slide {
    transform: translate(150%, 0%);
}

@keyframes image-slide {
    25% {
        transform: translate(0%, 0%);
    }

    75% {
        transform: translate(0%, 0%);
    }
}

/* Image Flip*/
.image-flip {
    transform: rotate3d(0, 1, 0, 90deg);
    animation-delay: 0.5s;
    animation: image-flip ease-in-out forwards;
}

@keyframes image-flip {
    0% {
        transform: rotate3d(0, 1, 0, 90deg);
    }

    25% {
        transform: rotate3d(0, 1, 0, 0deg);
    }

    75% {
        transform: rotate3d(0, 1, 0, 0deg);
    }

    100% {
        transform: rotate3d(0, 1, 0, 90deg);
    }
}

/* Image Fade */
.text-fade {
    opacity: 0;
    animation-delay: 0.5s;
    animation: text-fade ease-in-out forwards;
}

@keyframes text-fade {
    0% {
        opacity: 0;
    }

    25% {
        opacity: 1;
    }

    75% {
        opacity: 1;
    }

    100% {
        opacity: 0;
    }
}

/* Text Slide */
.text-slide {
    position: absolute;
    width: 100%;
    left: 100%;
    text-align: center;
    opacity: 0;
    animation-delay: 0.5s;
    animation: text-slide ease-in-out forwards;
}

@keyframes text-slide {
    0% {
        opacity: 0;
        left: 100%;
    }

    25% {
        opacity: 1;
        left: 5%;
    }

    75% {
        opacity: 1;
        left: -5%;
    }

    100% {
        opacity: 0;
        left: -100%;
    }
}