/* Positioning */
.top {
    padding: 50px;
    justify-content: center;
    align-items: flex-start;
}

.top-left {
    justify-content: flex-start;
    align-items: flex-start;
}

.top-right {
    justify-content: flex-end;
    align-items: flex-start;
}

.left {
    justify-content: flex-start;
    align-items: center;
}

.center {
    justify-content: center;
    align-items: center;
}

.right {
    justify-content: flex-end;
    align-items: center;
}

.bottom {
    justify-content: center;
    align-items: flex-end;
}

.bottom-left {
    justify-content: flex-start;
    align-items: flex-end;
}

.bottom-right {
    justify-content: flex-end;
    align-items: flex-end;
}