@import "css/positions.css"; @import "css/animations.css"; @import "css/config.css";

* {
    -webkit-user-select: none;
    user-select: none;

    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: transparent;
    padding: 0;
    margin: 0;

    width: 100vw;
    height: 100vh;
}

main {
    display: flex;

    width: 100%;
    height: 100%;
}

/* Slideshow container */
#slideshow-container {
    position: relative;
}

/* Hide the images by default */
.mySlides {
    display: none;
}

/* Image */
img {
    height: 100%;
    max-height: 480px;
    background-size: contain;
}

.glow {
    position: absolute;
    z-index: -255;
}

/* Caption */
.caption-container {
    display: flex;
    overflow: hidden;

    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
}

.caption {
    font-size: 1em;
    font-weight: normal;
    color: white;
    text-shadow: 1px 1px 2px black;
}

.text-padding {
    padding: 12px 0;
}